body {   
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0px auto;
    margin-bottom: 30px;
    overflow: hidden;
}

#left {
    width: 20%;
    padding-bottom: 50px;
    text-align: center;
    background-color: #fff9e6;
	display: inline-block;
	overflow-y: scroll;
    height: 100vh;
}

#right {
    height: auto;
    overflow: hidden;
    position: fixed;
 }

#left, #right{
	display: inline-block;
}

#imgtext {
  float: left;
  bottom: 15px;
  left: 15px;
  font-size: 20px;
  margin: 20px;
  vertical-align: middle;
}

#imgsize {
	float: right;
	font-size: 15px;
	margin-right: 20px;
}

#images img{
	margin-bottom: 30px;
	display: block;
}

.gallery-image {
	width: 200px;
	height: 200px;
	margin: 3%;
    text-align: center;
	display: inline-block;
}

