body {   
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0px auto;
    margin-bottom: 30px;
}

/*.left {
    width: 20%;
    height: auto;
    padding-bottom: 50px;
    overflow: auto;
    text-align: center;
    border-right: 1px solid;
    background-color: #fff9e6;
	display: inline-block;
}*/

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "gallery image-place";
}

.image-place { 
	grid-area: image-place; 
}

.gallery { 
	grid-area: gallery; 
	justify-content: center; 
}

@media (min-width: 650px) {
  .grid-container {
  	grid-template-areas: 
  	"gallery"
    "image-place";
	}
}

/*.right {
    height: auto;
    overflow: hidden;
    position: fixed;
 }*/

#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

#images img{
	margin-bottom: 30px;
	display: block;
}
.gallery-item{
    height: auto;
    overflow: auto;
   	overflow-x: hidden;
   	text-align: center;
}

.gallery-image {
	width: 200px;
	height: 200px;
	margin: 3%;
    overflow: auto;
    text-align: center;
	display: inline-block;
}

#textOfImage{
	font-family: Calibri, Georgia;  
    font-size: 16px;
    text-align: center;
}
